:root {
  --font: "Noto Serif", sans-serif;
  --dark-grey: #343434;
  --BG-color: #f1e5d5f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/***
BG COLOR FBD8AD 50% en osaa laitta tuota 50% linkkien väri muutuu mustaks. miksi / ei toimi?
TEXT #343434
PRIMARY 30D6CC
SECOND FBBE7D
VAIHDA SURFFIKUVAT
******/

input,
textarea,
button {
  font-family: var(--font);
}

body {
  color: var(--dark-grey);
  font-family: var(--font);
  line-height: 1.5;
  background-color: var(--BG-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0.5rem;
  line-height: 1.5;
}

a {
  color: var(--BG-color);
  text-decoration: none;
}

.bg {
  background-color: var(--dark-grey);
}

/* header************************************ */
.logo {
  font-weight: 400;
  padding: 1rem;
  color: var(--BG-color);
}

header {
  background: url("https://source.unsplash.com/ebHCU8n7G38") no-repeat center
    center/cover;
}

.main_nav {
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header nav a {
  color: var(--BG-color);
  background-color: transparent;
  transition: font-size 0.4s;
}

.main_nav .container {
  position: relative;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mobileButton {
  display: none;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 1rem;
}

header nav li:hover {
  font-size: 2rem;
  transition: 0.2s;
}

header a {
  text-decoration: none;
  color: var(--BG-color);
}

header .logo a {
  font-size: 1.5rem;
}

#Hero-banner {
  /*text-shadow: 5px 5px 5px yellow;*/
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

#Hero-banner::before {
  content: "";
  /*background-color: rgb(55 53 169 / 29%);*/
  height: 100%;
  width: 100%;
  position: absolute;
}

img {
  width: 200px;
}

h1 {
  color: var(--BG-color);
  font-weight: 300;
  font-size: 3rem;
}

/***********main area******/

#work,
#experience,
#skills {
  padding: 50px;
  min-height: 500px;
}

#work .work_boxes {
  display: flex;
  justify-content: space-between;
}

#work .box {
  background-color: white;
  width: 32%;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 0 5px #aeaeae;
}

h4 {
  padding-top: 50px;
  font-weight: 200px;
  font-size: 20px;
}

#work .flip-box {
  background-color: white;
  width: 32%;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 0 5px #aeaeae;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

#work .box:hover {
  box-shadow: 0 0 25px #8a8a8a;
}

#work .box h3 {
  margin-bottom: 1rem;
}

#work .box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

#work a {
  color: var(--dark-grey);
  text-decoration: none;
}

#experience {
  background-color: #fbbe7d;
}

img.experience {
  float: right;
  margin: 2rem;
}

#skills .skills_boxes {
  display: flex;
  justify-content: space-between;
}

#skills .box {
  background-color: white;
  width: 32%;
  height: 40vh;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2px;
  box-shadow: 0 0 5px #aeaeae;
}

#skills .box:nth-child(even) {
  background-color: rgb(199 181 181);
}

#skills .box:hover {
  box-shadow: 0 0 25px #8a8a8a;
}

#skills .box h3 {
  margin-bottom: 1rem;
  text-align: center;
}

#skills a {
  color: var(--dark-grey);
  text-decoration: none;
}

#skills .box i {
  height: 100px;
  font-size: 50px;
  object-fit: cover;
  margin-bottom: -1rem;
  justify-content: center;
  text-align: center;
  display: flex;
}
progress[value] {
  height: 25px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background: var(--dark-grey);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
/*Gallery*******************************************************/

header nav li {
  list-style-type: none;
}

#header {
  position: relative;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-grey);
  height: 20vh;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5rem;
  grid-template-areas:
    "a a b b c c"
    "a a d d c c"
    "e h h h c c"
    "f h h h i i"
    "g h h h i i";
}

.grid-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-item-1 {
  grid-area: a;
}

.grid-item-2 {
  grid-area: b;
}

.grid-item-3 {
  grid-area: c;
}

.grid-item-4 {
  grid-area: d;
}

.grid-item-5 {
  grid-area: e;
}

.grid-item-6 {
  grid-area: f;
}

.grid-item-7 {
  grid-area: g;
}

.grid-item-8 {
  grid-area: h;
}

.grid-item-9 {
  grid-area: i;
}
/******footer****************************************************/

footer {
  text-align: center;
  background-color: var(--dark-grey);
  color: #f8eada;
  padding: 8px;
}

footer .copyright {
  margin-top: 2rem;
  font-size: 12px;
}

/********footer form *************************************************/

footer form {
  margin: 0 auto;
  width: 60%;
  text-align: left;
}

footer form .form-group {
  margin: 2rem 0;
  display: flex;
}

footer form label {
  width: 200px;
  display: inline-block;
  text-align: left;
}

footer form .form-group input,
footer form .form-group textarea {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  width: 60%;
  font-size: 1rem;
}

footer form .form-group textarea {
  min-height: 100px;
}

footer button {
  background-color: #fbbe7d;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 1rem 2rem;
  color: var(--dark-grey);
  margin-left: 230px;
  margin-bottom: 1rem;
  font-size: inherit;
}

#myBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-color: var(--dark-grey);
  border-style: solid;
}

.material-icons {
  font-size: 1rem;
}

/*********TABLET MODE*************************************************************/
@media (max-width: 899px) {
  body {
    background-color: rgb(61, 129, 150);
  }

  #experience img {
    width: 100%;
  }

  #skills .skills_boxes {
    display: block;
    width: 90%;
  }

  #skills .box {
    width: 100%;
    margin-bottom: 1rem;
  }

  footer form {
    width: 80%;
    text-align: left;
  }

  footer form .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  footer form .form-group input,
  footer form .form-group textarea,
  footer form button {
    width: 100%;
    width: 100%;
    margin: 0;
  }
  footer form button {
    background-color: #fbbe7d;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 1rem 2rem;
    color: var(--dark-grey);
    margin-left: 50px;
    margin-bottom: 1rem;
    font-size: inherit;
  }
}

/*********Mobile**********************************************************/
@media (max-width: 576px) {
  body {
    background-color: var(--BG-color);
  }
  #mobileButton {
    display: block;
    background-color: transparent;
    border: none;
    color: var(--BG-color);
  }
  .main_nav {
    display: block;
  }
  header nav ul {
    margin-top: 1rem;
    display: none;
  }
  nav.responsive ul {
    display: block;
    background-color: var(--dark-grey);
    position: absolute;
    width: 100%;
    left: 0;
    top: 86px;
  }
  nav.responsive ul li {
    display: block;
  }

  nav.responsive ul li a {
    display: block;
    padding: 1rem 2rem;
  }
  header nav ul li {
    padding: 1rem;
  }
  #hero-banner h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
  }
  #work .box h3 {
    margin-bottom: 11rem;
  }
  #work,
  #experience,
  #skills {
    padding: 1rem;
  }

  #work .work_boxes {
    display: block;
  }

  #work .box {
    width: 100%;
    margin-bottom: 1rem;
  }

  #experience img,
  #skills img {
    width: 100%;
    float: none;
    margin: 0;
  }

  #skills .skills_boxes {
    display: block;
    width: 90%;
  }

  #skills .box {
    width: 100%;
    margin-bottom: 1rem;
  }

  footer form .form-group {
    display: flex;
    justify-content: center;
  }

  footer form button {
    background-color: #fbbe7d;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 1rem 2rem;
    color: var(--dark-grey);
    margin-left: 50px;
    margin-bottom: 1rem;
    font-size: inherit;
  }

  #file {
    align-items: center;
  }
}

/*******Animation****/
