body {
  background-color: pink;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.yellow {
  color: yellow;
}

#important {
  font-size: 40px;
  color: red;
}

.circle {
  background-color: orange;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  display: inline-block;
}

/* KOMMENTTI */

/* edit: TOGGL LINE; */
