* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

.container {
  background-color: white;
  width: 400px;
  height: 400px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 0.5rem;
}

#siteTitle {
  grid-area: 1 / 1 / 2 / 10;
  background-color: rgb(235, 183, 72);
}

#nav1 {
  grid-area: 1 / 10 / 2 / 13;
  background-color: violet;
}

#nav2 {
  grid-area: 1 / 13 / 2 / 16;
  background-color: violet;
}

#nav3 {
  grid-area: 1 / 16 / 2 / 19;
  background-color: violet;
}

#postTitle {
  grid-column: 1 / 15;
  grid-row: 2;
  background-color: rgb(123, 186, 238);
}

#sideBar {
  grid-column: 15 / 19;
  grid-row: 2 / 4;
  background-color: orange;
}

#postMeta {
  grid-column: 1 / 5;
  grid-row: 3 / 8;
  background-color: palegreen;
}

#mainContent {
  grid-column: 5 / -4;
  grid-row: 3 / 5;
  background-color: rgb(165, 162, 162);
}
