:root {
  --font: arial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/***
BG COLOR FBD8AD 50%
TEXT 343434
PRIMARY 30D6CC
SECOND FBBE7D
VAIHDA SURFFIKUVAT
******/

input,
textarea,
button {
  font-family: "Noto Serif", sans-serif;
}

body {
  color: #343434;
  font-family: "Noto Serif", sans-serif;
  line-height: 1.5;
  position: relative;
  background-color: #f8eada;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0.5rem;
  line-height: 1.5;
}

#header a {
  color: #f8eada;
  text-decoration: none;
}

h2 {
  margin: 3rem 0;
}

/* header************************************ */
#Logo {
  font-weight: 400;
  padding: 1rem;
}

h1 {
  font-weight: 400;
  padding: 1rem;
}

header {
  justify-content: center;
  color: #f8eada;
  background: url("https://source.unsplash.com/ebHCU8n7G38") no-repeat center
    center/cover;
  transition: 0.2s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 1;
}

header nav a {
  background-color: transparent;
  transition: background-color 5s ease-in 2s;
}

header nav a:hover {
  background-color: rgb(170, 38, 38);
  font-size: 2rem;
  text-decoration: underline;
}

li {
  display: flex;
  justify-content: flex-end;
  display: inline-block;
  padding: 1rem;
}

#Hero-banner {
  /*text-shadow: 5px 5px 5px yellow;*/
  display: flex;
  align-content: flex-end;
  align-items: center;
  height: 50vh;
  justify-content: center;
  position: relative;
}

#Hero-banner::before {
  content: "";
  background-color: rgb(55 53 169 / 29%);
  height: 100%;
  width: 100%;
  position: absolute;
}

img {
  width: 200px;
}

/***********main area******/

#work,
#experience,
#skills {
  padding: 50px;
  min-height: 500px;
}

#work .work_boxes {
  display: flex;
  justify-content: space-between;
}

#work .box {
  background-color: white;
  width: 32%;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 0 5px #aeaeae;
}

#work .box:hover {
  box-shadow: 0 0 25px #8a8a8a;
}

#work .box h3 {
  margin-bottom: 1rem;
}

#work .box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

#work a {
  color: #343434;
  text-decoration: none;
}

#experience {
  background-color: #fbbe7d;
}

img.experience {
  float: right;
  margin: 2rem;
}

#skills .skills_boxes {
  display: flex;
  justify-content: space-between;
}

#skills .box {
  background-color: white;
  width: 32%;
  height: 40vh;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2px;
  box-shadow: 0 0 5px #aeaeae;
}

#skills .box:nth-child(even) {
  background-color: rgb(199 181 181);
}

#skills .box:hover {
  box-shadow: 0 0 25px #8a8a8a;
}

#skills .box h3 {
  margin-bottom: 1rem;
  text-align: center;
}

#skills a {
  color: #343434;
  text-decoration: none;
}

#skills .box i {
  height: 100px;
  font-size: 50px;
  object-fit: cover;
  margin-bottom: 2rem;
  justify-content: center;
  text-align: center;
  display: flex;
}

/*Gallery*******************************************************/
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5rem;
  grid-template-areas:
    "a a b b c c"
    "a a d d c c"
    "e h h h c c"
    "f h h h i i"
    "g h h h i i";
}

.grid-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-item-1 {
  grid-area: a;
}

.grid-item-2 {
  grid-area: b;
}

.grid-item-3 {
  grid-area: c;
}

.grid-item-4 {
  grid-area: d;
}

.grid-item-5 {
  grid-area: e;
}

.grid-item-6 {
  grid-area: f;
}

.grid-item-7 {
  grid-area: g;
}

.grid-item-8 {
  grid-area: h;
}

.grid-item-9 {
  grid-area: i;
}
/******footer****************************************************/

footer {
  text-align: center;
  background-color: #343434;
  color: #f8eada;
  padding: 8px;
}

footer .copyright {
  margin-top: 2rem;
  font-size: 12px;
}

/********footer form *************************************************/

footer form {
  margin: 0 auto;
  width: 60%;
  text-align: left;
}

footer form .form-group {
  margin: 1rem 0;
  display: flex;
}

footer form label {
  width: 200px;
  display: inline-block;
  text-align: right;
  margin-right: 2rem;
}

footer form .form-group input,
footer form .form-group textarea {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  width: 60%;
  font-size: 1rem;
}

footer form .form-group textarea {
  min-height: 100px;
}

footer form button {
  background-color: #fbbe7d;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 1rem 2rem;
  color: #343434;
  margin-left: 50px;
  margin-bottom: 1rem;
  font-size: inherit;
}

/*********TABLET MODE*************************************************************/
@media (max-width: 899px) {
  body {
    background-color: rgb(61, 129, 150);
  }

  #experience img {
    width: 100%;
  }

  #skills .skills_boxes {
    display: block;
    width: 90%;
  }

  #skills .box {
    width: 100%;
    margin-bottom: 1rem;
  }

  footer form {
    width: 80%;
    text-align: left;
  }

  footer form .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  footer form .form-group input,
  footer form .form-group textarea,
  footer form button {
    width: 100%;
    width: 100%;
    margin: 0;
  }
  footer form button {
    background-color: #fbbe7d;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 1rem 2rem;
    color: #343434;
    margin-left: 50px;
    margin-bottom: 1rem;
    font-size: inherit;
  }
}

/*********Mobile**********************************************************/
@media (max-width: 576px) {
  body {
    background-color: rgb(211, 113, 21);
  }
  .main_nav {
    display: block;
  }
  header nav ul {
    margin-top: 1rem;
  }
  header nav ul li {
    padding: 1rem;
  }
  #hero-banner h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
  }
  #work .box h3 {
    margin-bottom: 11rem;
  }
  #work,
  #experience,
  #skills {
    padding: 1rem;
  }

  #work .work_boxes {
    display: block;
  }

  #work .box {
    width: 100%;
    margin-bottom: 1rem;
  }

  #experience img,
  #skills img {
    width: 100%;
    float: none;
    margin: 0;
  }

  #skills .skills_boxes {
    display: block;
    width: 90%;
  }

  #skills .box {
    width: 100%;
    margin-bottom: 1rem;
  }

  footer form .form-group {
    display: flex;
    justify-content: center;
  }

  footer form button {
    background-color: #fbbe7d;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 1rem 2rem;
    color: #343434;
    margin-left: 50px;
    margin-bottom: 1rem;
    font-size: inherit;
  }

  #file {
    align-items: center;
  }
}
