* {
  margin: 0%;
  padding: 0%;
}

header {
  font-size: 20px;
  background-color: thistle;
  text-align: center;
  padding: 10px;
}

li {
  display: inline;
  margin: 20px 20px;
}

html {
  scroll-behavior: smooth;
  font: ;
}

body {
  background-color: bisque;
  color: darkblue;
}

h1 {
  font-size: 50px;
  padding: 50px;
  text-align: center;
}

section {
  margin: 0px;
  padding-bottom: 140px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

img {
  float: left;
  margin: 20px;
}

footer {
  text-align: center;
  margin: 20px;
}
